# API Configuration
SQLALCHEMY_DATABASE_URL="postgresql://user:password@host:port/dbname?sslmode=require"
REDIS_URL=redis://redis:6379/0

# Frontend Configuration (Build Args)
# Local: http://localhost:9000
# VPS: https://api.aadikarta.org
VITE_API_URL=http://localhost:9000

# MiroTalk Configuration
MIROTALK_JWT_SECRET=your_jwt_secret
MIROTALK_API_KEY_SECRET=your_api_key_secret
