version: '3.8'

services:
  api:
    build: ./api
    container_name: astro_api
    depends_on:
      - db
    env_file:
      - ./api/.env
    environment:
      # Use internal db service
      SQLALCHEMY_DATABASE_URL: postgresql://admin:password123@db:5432/postgres
    ports:
      - "8000:8000"
    volumes:
      - ./api/uploads:/app/uploads

  db:
      image: postgres:15-alpine
      container_name: astro_db
      environment:
        POSTGRES_USER: admin
        POSTGRES_PASSWORD: password123
        POSTGRES_DB: postgres
      ports:
        - "5432:5432"
      volumes:
        - postgres_data:/var/lib/postgresql/data

  web:
    build: 
      context: ./web
      args:
        VITE_API_URL: http://localhost:8000
    container_name: astro_web
    ports:
      - "3002:80"

  admin:
    build:
      context: ./admin
      args:
        VITE_API_URL: http://localhost:8000
    container_name: astro_admin
    ports:
      - "3001:80"

volumes:
  postgres_data:
