fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
python-jose[cryptography]
python-multipart
python-dotenv
fastapi-mail==1.5.0
alembic
python-slugify
razorpay
redis
firebase-admin
cloudinary
bcrypt
