fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
python-jose[cryptography]
python-multipart
python-dotenv
email-validator
alembic
python-slugify
razorpay
redis
firebase-admin
bcrypt
httpx
slowapi
Pillow
pillow-heif
git+https://github.com/AavyaLabTech/waplex.git@main
google-api-python-client
google-auth
